In [1]:
import pandas as pd

# Weather

In [27]:
# Data from NYC - Central Park https://www.weather.gov/wrh/Climate?wfo=okx
df_weather = pd.read_csv('../data/external/weather_data.csv', delimiter=';')

In [28]:
df_weather = df_weather.sort_values(by=['Type', 'Month', 'Day'], ascending=[True, True, True])
df_weather.Type.value_counts()

Type
Avg Temperature Normal                 372
Daily Precipitation Normal (inches)    372
Max Temperature Normal                 372
Min Temperature Normal                 372
Name: count, dtype: int64

In [33]:
# This works because dataframe is ordered
df_weather_unify = df_weather[df_weather['Type'] == 'Daily Precipitation Normal (inches)'][['Day', 'Month', 'Value']].rename(columns={'Value' : 'daily_preciptation_normal_inches'}).reset_index(drop=True)
        
df_weather_unify['max_temperature_normal_f'] = df_weather[df_weather['Type'] == 'Max Temperature Normal']['Value'].values

df_weather_unify['min_temperature_normal_f'] = df_weather[df_weather['Type'] == 'Min Temperature Normal']['Value'].values

df_weather_unify['avg_temperature_normal_f'] = df_weather[df_weather['Type'] == 'Avg Temperature Normal']['Value'].values

df_weather_unify['Year'] = 2016

In [34]:
df_weather_unify.head()

,Day,Month,daily_preciptation_normal_inches,max_temperature_normal_f,min_temperature_normal_f,avg_temperature_normal_f,Year
0,1,1,0.12,41,30,35,2016
1,2,1,0.12,40,30,35,2016
2,3,1,0.11,40,29,35,2016
3,4,1,0.13,40,29,35,2016
4,5,1,0.12,40,29,35,2016

In [35]:
df_weather_unify.to_csv('../data/external/weather_unify.csv')