# Imports

In [6]:
import pandas as pd
import numpy as np
import yaml
year_month_day

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_parquet('../data/processed/full_valid.parquet.gzip')

In [5]:
df.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,year_month_day,daily_preciptation_normal_inches,max_temperature_normal_f,min_temperature_normal_f,avg_temperature_normal_f,BIKE_LANE,BOROCODE,ST_WIDTH,TRAFDIR,RW_TYPE,SNOW_PRI,PRE_MODIFI,PRE_DIRECT,PRE_TYPE,POST_TYPE,POST_DIREC,POST_MODIF,BIKE_TRAFD,SEGMENT_TY,pickup_cluster,dropoff_cluster
0,id1718206,1,2016-01-05 10:07:14,1,-73.990273,40.766647,-73.992729,40.748363,N,20160105,0.12,40,29,35,None,1,44,FT,2,C,None,None,None,AVE,None,None,None,R,0,0
1,id1748564,2,2016-01-07 14:38:51,1,-73.976311,40.759819,-73.957603,40.779598,N,20160107,0.12,40,29,34,1,1,60,FT,1,C,None,None,AVE,None,None,None,FT,U,0,3
2,id3792886,1,2016-05-29 22:11:39,2,-74.006760,40.749096,-73.972206,40.757252,N,20160529,0.14,75,59,67,None,1,54,FT,2,C,None,None,None,AVE,None,None,None,R,0,0
3,id2541269,2,2016-03-01 12:33:26,5,-73.982689,40.782124,-73.956490,40.781673,N,20160301,0.13,45,32,39,None,1,32,FT,2,C,None,None,None,PKWY,None,None,None,R,0,3
4,id3152266,2,2016-04-14 18:52:23,1,-73.802071,40.663708,-73.982391,40.766552,N,20160414,0.13,61,45,53,None,4,36,FT,2,C,None,None,None,EXPY,None,None,None,U,1,0